.NavDiv{
    justify-content: center;
    display: flex;

}.SousMenu{
    display: flex;
    justify-content: center ;

}#h1Decouverte{
    position: relative;
    text-align: center;
    display: inline-flex;
    color:242423;
    margin-left: 20em;
    background-color: gray;
    border-radius: 5em;
    padding: 2em;
    z-index: 1;
  justify-content: center;
}#Breadcrumbs{
    margin-left: 2em;

}