html {
  background: #333533;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: oblique;
  color: #cfdbd5;
  /* background-color:black; */
}
.navigation {
  padding: 0px;
  margin: 0px;
  background: #f5cb5c;
  border-radius: 40px;
  justify-content: center;
  gap: 100px;
  justify-items: center;
  display: flex;
  position: static;
}
.navigation:hover {
  background-color: #242423;
  transition: 1250ms ease-in-out;
  -webkit-box-shadow: inset -1px 3px 8px 5px #f5f5dc, 2px 5px 16px 0px #f5f5dc,
    -10px -19px 34px -1px #f5f5dc;
  box-shadow: inset -1px 3px 8px 5px #f5cb5c, 2px 5px 16px 0px #6b6767da,
    -1px -1px 35px -1px#f5f5dc;
}
#imgOutils {
  border-radius: 45px;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  justify-items: center;
  position: relative;
  display: inline-flex;
  z-index: -1;
}
.SectionAcceuil {
  color: #cfdbd5;
  padding: 0px;
  margin: 20px;
  border-radius: 45px;
  place-items: center;
}
.nav.isActive {
  background-color: red;
}
.form {
  list-style: none;
  display: list-item;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  font-style: normal;
  border-radius: 50px;
  gap: 15px;
}
input {
  display: flex;
}
.Widjet1 {
  background: #242423;
  justify-content: center;
  display: inline-block;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  border-radius: 45px;
  height: 250px;
  width: 250px;
  color: #cfdbd5;
  vertical-align: top;
  place-items: center;
  position: relative;
  top: 100px;
}
.WidjetText1 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}
.Widjet2 {
  background: #242423;
  justify-content: center;
  display: inline-block;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  border-radius: 45px;
  height: 250px;
  width: 250px;
  color: #cfdbd5;
  vertical-align: top;
  place-items: center;
  position: relative;
  top: 100px;
}
.Widjet1:hover,
.Widjet2:hover,
.Widjet3:hover {
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: translate3d(0px, -10px, 500px);
  transition: ease-in-out 1150ms;
}
.WidjetText2 {
  text-align: center;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  vertical-align: left;
}
.div1PDecouverte {
  padding: 0px;
  margin: 0px;
  justify-content: center;
  vertical-align: top;
  place-items: center;
}
.ClassH1 {
  display: flex;
  padding: 0px;
  gap: 20px;
  justify-content: center;
  position: relative;
  z-index: -1;
  border-radius: 45px;
  top: 30px;
  gap: 50px;
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border: 15px;
  border-color: #242423;
  border-style: inset;
}
.Widjet3 {
  background: #242423;
  justify-content: center;
  display: inline-block;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  border-radius: 45px;
  height: 250px;
  width: 250px;
  color: #cfdbd5;
  vertical-align: top;
  place-items: center;
  position: relative;
  top: 100px;
  font-weight: 600;
  place-items: center;
  vertical-align: top;
}
.SousMenu {
  padding: 0px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-weight: 400;
  object-fit: cover;
  gap: 2em;
}
.NavAcceuil {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  text-emphasis: none;
  cursor: pointer;
}
.imagegauche {
  position: relative;
  border-radius: 50px;
  height: 400px;
  width: 500px;
  /* opacity: 50%; */
}
.sectiongaucheAc {
  width: 500px;

  border-radius: 50px;
  justify-content: left;
  position: relative;
  justify-items: flex-end;
  display: inline-flex;

  vertical-align: top;
}
.imggarage {
  top: 500px;

  display: block;
  justify-items: flex-end;
  justify-content: right;
}
.imagedroiteAc {
  width: 500px;
  border-radius: 50px;
  justify-content: right;
  justify-items: flex-end;
  position: relative;
  display: inline-flex;
  vertical-align: top;
}
.imagedroiteAc:hover,
.sectiongaucheAc:hover,
.imgmidleAC:hover {
  -webkit-box-shadow: 5px 5px 5px 0px #f5cb5c, inset 4px 4px 15px 0px #f5cb5c,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 15px 5px 35px 5px #f5cb5c, inset 4px 4px 15px 0px #f5cb5c,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.middletextAc h3 {
  text-align: center;
  justify-items: center;
}
.middletextAc p {
  text-align: center;
  justify-items: center;
}
.imgmidleAC {
  width: 500px;

  border-radius: 50px;
  justify-content: right;
  justify-items: flex-end;
  position: relative;
  display: inline-flex;
  vertical-align: top;
  margin-right: -425px;
margin-right: 15px

}.allimage{
  background: #242423;
  border-radius: 25px;
  display: flex;
  position: relative;
  height: 650px;
}.Select{
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color:#242423;
  border-radius: 10px;
  border-color: #ff8000;
  border: 5px;
  margin-left: 50px;
}.block1info , .block2conso{
  display:inline-flex;
  position: relative;
  width: 500px;
  height: 560px;
  background-color: #242423;
  gap: 25px;
  margin: 15px;
  border-radius: 45px;
} 

