
html{
     background: bisque;
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style:oblique;

}.navigation{
     padding: 0px;
     margin: 0px;
     background: #ffa07a;
     border-radius: 40px;
     justify-content: center;
     gap: 100px;
     justify-items: center;
     display: flex;
     position:static
}.navigation:hover{
background-color: bisque;
transition: 1250ms ease-in-out;
-webkit-box-shadow: inset -1px 3px 8px 5px #f5f5dc , 2px 5px 16px 0px #ffa07a, -10px -19px 34px -1px #ffa07a; 
box-shadow: inset -1px 3px 8px 5px #ffa07a, 2px 5px 16px 0px #6b6767da, -10px -19px 34px -1px#ffa07a;

}#h1Outils{
     background-color: lightslategray;
     border-radius: 45px;
     
     padding: 0px;
     margin: 20px;
     justify-content: center;
     justify-items: center;
     position: relative;
     display:ruby-text ;
     right:-46%;
}.SectionAcceuil{
     background: #f5f5dc;
     padding: 0px;
     margin: 20px;
     border-radius: 45px;
     place-items: center;
     
}.nav.isActive{
     background-color: red;
}.form{
     list-style:none;
     display: list-item;
     align-items: center;
     justify-content: space-around;
     font-weight: 400;
     font-style: normal;
     border-radius: 50px;
     gap: 15px;
     
} input{
     display: flex;

}

